<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "My Linkedin", "https://www.linkedin.com/feed/", class: "text-white" %> </small>
  </div>
</footer>